<div class="table-responsive">
	<table
		class="table table-striped table-bordered table-hover dataTables-example">
		<thead>
			<tr>
				<th>Type of Document</th>
				<th>Date</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="partnerList, rowStat : ${DOCUMENT_PARTNER_LIST}">
				<td th:text="${partnerList.docType.documentTypeName}"></td>
				<td
					th:text="${#dates.format(partnerList.documentTrackTimestamp, 'MMM dd, yyyy')}"></td>
				<td th:text="${partnerList.status.docTrackStatusName}"></td>
			</tr>
		</tbody>
	</table>
</div>