<div th:fragment="footer">
	<div class="footer">
	    <!-- <div class="pull-right">
	        10GB of <strong>250GB</strong> Free.
	    </div> -->
	    <div>
	        <strong>Copyright</strong> Simplex Chemopack Pvt Ltd &copy; 2019
	    </div>
	</div>
	<div class="loader-overlay" style="display: none;">
		<div class=".loader" style="position: fixed; top: 35%; left: 50%;">
			<img alt="Loading..." th:src="@{/img/loading.svg}" style="width: 100px; height: 100px;">
		</div>
	</div>
</div>
