<div th:fragment="topbar">
<div class="row border-bottom">
  <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
	  <div class="navbar-header">
	      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
	      <form role="search" class="navbar-form-custom">
	          <div class="form-group company-logo-topbar">
	              <span th:text="${session.COMPANY.companyName}" th:unless="${session == null}"></span>
	          </div>
	      </form>
	  </div>
	  <ul class="navbar-left navpath-ul list-unstyled">
	  	<li class="navpath">
           
        </li>
	  </ul>
      <ul class="nav navbar-top-links navbar-right">
          <li class="dropdown">
              <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                  <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
              </a>
              <ul class="dropdown-menu dropdown-messages">
                  <li>
                      <div class="dropdown-messages-box">
                          <a href="profile.html" class="pull-left">
                              <img alt="image" class="img-circle" th:src="@{/img/a7.jpg}">
                          </a>
                          <div class="media-body">
                              <small class="pull-right">46h ago</small>
                              <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                              <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                          </div>
                      </div>
                  </li>
                  <li class="divider"></li>
                  <li>
                      <div class="dropdown-messages-box">
                          <a href="profile.html" class="pull-left">
                              <img alt="image" class="img-circle" th:src="@{/img/a4.jpg}">
                          </a>
                          <div class="media-body ">
                              <small class="pull-right text-navy">5h ago</small>
                              <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                              <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                          </div>
                      </div>
                  </li>
                  <li class="divider"></li>
                  <li>
                      <div class="dropdown-messages-box">
                          <a href="profile.html" class="pull-left">
                              <img alt="image" class="img-circle" th:src="@{/img/profile.jpg}">
                          </a>
                          <div class="media-body ">
                              <small class="pull-right">23h ago</small>
                              <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                              <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                          </div>
                      </div>
                  </li>
                  <li class="divider"></li>
                  <li>
                      <div class="text-center link-block">
                          <a href="mailbox.html">
                              <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                          </a>
                      </div>
                  </li>
              </ul>
          </li>
          <!-- th:text="${notifParentList}" -->
          <!-- <span th:with="notifParentList=${@notificationService.getNotificationByGroup(session.USER.userId)}" th:unless="${session == null}" ></span>
         <span th:with="list = ${@notificationService.getNotificationByGroup(session.USER.userId)}"></span> 
          <span th:with="list = ${@notificationService.getNotificationByGroup(session.USER.userId)}" th:text="${list[1][0].notificationId}"></span>
         <span th:with="list = ${@notificationService.getNotificationByGroup(session.USER.userId)}" th:text="${list[2][0].notificationId}"></span>
         <span th:with="list = ${@notificationService.getNotificationByGroup(session.USER.userId)}" th:text="${list[3][0].notificationId}"></span>
         <span th:text="${#lists.size(list)}"></span>
         <span th:text="${#lists.size(count[0])} + ${#lists.size(count[1])} + ${#lists.size(count[2])} + ${#lists.size(count[3])}"></span> -->
         
         <li class="dropdown">
              <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                  <i class="fa fa-bell"></i> 
                   <span class="label label-primary" th:with="list = ${@notificationService.getNotificationByGroup(session.USER.userId)}" th:text="${#lists.size(list[0])} + ${#lists.size(list[1])} + ${#lists.size(list[2])} + ${#lists.size(list[3])}"></span>
              </a>
              <ul class="dropdown-menu dropdown-alerts">
                  <li th:with="list = ${@notificationService.getNotificationByGroup(session.USER.userId)}">
                  	 <a th:if="${list[0]!=null and !list[0].empty}" th:href= "@{/notifications}">
                  		<div>
                  			<i th:class="${'fa fa-' + list[0][0].entityTable.notificationIcon + ' fa-fw'}"></i> <span  th:text = "${list[0][0].entityTable.notificationParentTypeName}" ></span><br>
                  			<span class="pull-right text-muted small" th:text = "${#lists.size(list[0])} + ' '  + ${list[0][0].entityTable.notificationDesc}"></span><br>
                  		</div>
                  	</a>
                  </li>
                  <li class="divider"></li>
                  <li th:with="list = ${@notificationService.getNotificationByGroup(session.USER.userId)}">
                  	 <a th:if="${list[1]!=null and !list[1].empty}" th:href= "@{/notifications}">
                  		<div>
                  			<i th:class="${'fa fa-' + list[1][0].entityTable.notificationIcon + ' fa-fw'}"></i> <span th:text = "${list[1][0].entityTable.notificationParentTypeName}" ></span><br>
                  			<span class="pull-right text-muted small" th:text = "${#lists.size(list[1])} + ' '  + ${list[1][0].entityTable.notificationDesc}"></span><br>
                  		</div>
                  	</a>
                  </li>
                  <li class="divider"></li>
                  <li th:with="list = ${@notificationService.getNotificationByGroup(session.USER.userId)}">
                  	 <a th:if="${list[2]!=null and !list[2].empty}" th:href= "@{/notifications}">
                  		<div>
                  			<i th:class="${'fa fa-' + list[2][0].entityTable.notificationIcon + ' fa-fw'}"></i> <span th:text = "${list[2][0].entityTable.notificationParentTypeName}" ></span><br>
                  			<span class="pull-right text-muted small" th:text = "${#lists.size(list[2])} + ' '  + ${list[2][0].entityTable.notificationDesc}"></span><br>
                  		</div>
                  	</a>
                  </li>
                  <li class="divider"></li>
                  <li th:with="list = ${@notificationService.getNotificationByGroup(session.USER.userId)}">
                  	 <a th:if="${list[3]!=null and !list[3].empty}" th:href= "@{/notifications}">
                  		<div>
                  			<i th:class="${'fa fa-' + list[3][0].entityTable.notificationIcon + ' fa-fw'}"></i> <span  th:text = "${list[3][0].entityTable.notificationParentTypeName}" ></span><br>
                  			<span class="pull-right text-muted small" th:text = "${#lists.size(list[3])} + ' '  + ${list[3][0].entityTable.notificationDesc}"></span><br>
                  		</div>
                  	</a>
                  </li>
              </ul>
          </li>


          <li>
              <a th:href="@{/logout}">
                  <i class="fa fa-sign-out"></i> Log out
              </a>
          </li>
      </ul>

  </nav>
  </div>
</div>